<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.2" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net462" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net462" />
  <package id="MahApps.Metro" version="2.2.0" targetFramework="net462" />
  <package id="MahApps.Metro.SimpleChildWindow" version="2.0.0-alpha0043" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.7.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net462" />
  <package id="MotorTributarioNet" version="1.0.10" targetFramework="net452" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net462" />
  <package id="NHibernate" version="4.1.2.4000" targetFramework="net462" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net462" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net462" />
  <package id="Zeus.Net.MDFe" version="2022.10.19.1442" targetFramework="net462" />
  <package id="Zeus.Net.NFe.NFCe" version="2022.10.19.1442" targetFramework="net462" />
</packages>