<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net462" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net462" />
  <package id="Zeus.Net.CTe" version="2022.10.19.1442" targetFramework="net462" />
  <package id="Zeus.Net.MDFe" version="2022.10.19.1442" targetFramework="net462" />
  <package id="Zeus.Net.NFe.NFCe" version="2022.10.19.1442" targetFramework="net462" />
</packages>